*{margin:0;
}
.home{
   
    background-color: aqua;
    background-image: url(../img/home.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;

}
.home-con{
    padding-top: 200px;
    color: white;
    text-align: center;

    
}
.home-con,p{
    margin-bottom: 20px;
}
h1{
margin: 20px;
}

 button{
    padding: 20px 15px;
    
    border-radius: 4px;
 }
.bt1{ background-color: tan;
    border: 0px;

 }
.bt2{
background-color: transparent;
border: 2px solid white;
 }
 .about{
   
    
 }
.contener{
    width: 80%;
}
    
 .img{
    width:50%;
    height: 100px;
    float: left;
   
 }
 .img img{
    width: 100%;
 }
 .about-con{
    width: 50%;
    float: left;
    padding-top:70px; ;
    
 }
 .contener{
    
    width:70%;
   margin: auto;
 }
 .about img{
    padding-top: 80px;
   
 }
 .about-con p{
    padding-left: 70px;
    
 }
 .about-con ul{
    padding-left: 90px;
 }
 
 .about-con h2{
    padding-left: 70px;
    padding-bottom: 20px;
 }
 .about-con li{
    padding-bottom: 20px;
 } 
 .contener2{
   width: 100%;
   background-color: aquamarine; 
   margin: auto;
 }
 .loc{
   background-color: yellow;
 }
 .loc-about{
   width: 40%;
   float: left;
   margin:150px 0px 0px 50px;

 }
 .loc-photo{
   width:40%;
   float: left;
 margin: 80px 0px 0px 80px;
  
 }
 .loc-photo img{
   width: 100%;
 }
 .loc-about h2{
   padding-bottom: 20px;
 }
 .ploc{
   padding-bottom:40px; ;
 }
 .bak-con{
   
 }